<!DOCTYPE html>
<html class="no-js" lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Newfields Data Service</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1"> {% load static %}

    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">

    <link rel="stylesheet" href="{% static "sufee/assets/css/normalize.css" %}">
    <link rel="stylesheet" href="{% static "sufee/assets/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "sufee/assets/css/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "sufee/assets/css/themify-icons.css" %}">
    <link rel="stylesheet" href="{% static "sufee/assets/css/flag-icon.min.css" %}">
    <link rel="stylesheet" href="{% static "sufee/assets/css/cs-skin-elastic.css" %}">
    <!-- <link rel="stylesheet" href="assets/css/bootstrap-select.less"> -->
    <link rel="stylesheet" href="{% static "sufee/assets/scss/style.css" %}">
    <link href="{% static "sufee/assets/css/lib/vector-map/jqvmap.min.css" %}" rel="stylesheet">


    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->

</head>




<body>
  
       {% block content %} {% endblock %}
    
  
    <script src="{% static "sufee/assets/js/vendor/jquery-2.1.4.min.js" %}"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script> -->
    <script src="{% static "sufee/assets/js/plugins.js" %}"></script>
    <script src="{% static "sufee/assets/js/main.js" %}"></script>
    <script src="{% static "sufee/assets/js/lib/chart-js/Chart.bundle.js" %}"></script>
    <script src="{% static "sufee/assets/js/dashboard.js" %}"></script>
    <script src="{% static "sufee/assets/js/widgets.js" %}"></script>
    <script src="{% static "sufee/assets/js/lib/vector-map/jquery.vmap.js" %}"></script>
    <script src="{% static "sufee/assets/js/lib/vector-map/jquery.vmap.min.js" %}"></script>
    <script src="{% static "sufee/assets/js/lib/vector-map/jquery.vmap.sampledata.js" %}"></script>
    <script src="{% static "sufee/assets/js/lib/vector-map/country/jquery.vmap.world.js" %}"></script>

    <!--  High Chart js -->
    <script src="{% static "sufee/assets/js/highchart.js" %}"></script>
    <!--  flot-chart js -->
    <script src="{% static "sufee/assets/js/lib/flot-chart/excanvas.min.js" %}"></script>
    <script src="{% static "sufee/assets/js/lib/flot-chart/jquery.flot.js" %}"></script>
    <script src="{% static "sufee/assets/js/lib/flot-chart/jquery.flot.pie.js" %}"></script>
    <script src="{% static "sufee/assets/js/lib/flot-chart/jquery.flot.time.js" %}"></script>
    <script src="{% static "sufee/assets/js/lib/flot-chart/jquery.flot.stack.js" %}"></script>
    <script src="{% static "sufee/assets/js/lib/flot-chart/jquery.flot.resize.js" %}"></script>
    <script src="{% static "sufee/assets/js/lib/flot-chart/jquery.flot.crosshair.js" %}"></script>
    <script src="{% static "sufee/assets/js/lib/flot-chart/curvedLines.js" %}"></script>
    <script src="{% static "sufee/assets/js/lib/flot-chart/flot-tooltip/jquery.flot.tooltip.min.js" %}"></script>
    <script src="{% static "sufee/assets/js/lib/flot-chart/flot-chart-init.js" %}"></script>

    <script src="{% static "sufee/assets/js/lib/chart-js/chartjs-init.js" %}"></script>


    <script src="{% static "sufee/assets/js/popper.min.js" %}"></script>

        <!--  Chart js -->



</body>

</html>